/* Background image for home page */
.background{
  background-image: url('Images/bg2.jpg');
  background-size:cover;
}

/* Background color for credits page */
.credits{
  background-size: 90%;
  background-blend-mode:normal;
  background-color: antiquewhite;
}

/* Hover for gallery images */
#hover:hover{
  transform:scale(10px);
}
   
/* Hiding text and popup upon mouse hover */
p{
  display: none;
  text-align: justify;
  position: relative;
  animation-name: dropDown;
  animation-duration: 1s;
}

/* Setting font size, stle and variant for header 1 */
h1{
  font-size: 300%;
  padding-left: 0%;
  margin-left: 30%;
  transform: translateX(150%);
  font-weight: bolder;
  font-variant: small-caps;
}

/* Setting font size, stle and variant for header 4 */
h4{
  font-size: 180%;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 5%;
}


/* Setting font size and margin for text */
.txt{
  font-size: 100%;
  margin-left:6%;
}

/* Setting color for hyperlink */
.hyperlink{
  text-decoration: underline;
  color:rgb(107, 107, 107)
}

/* Popup for p */
@keyframes dropDown {
  0%   {background: left 0px; top:100px;}
  100% {background: left 0px; top:0px;}
}

/*Centerlining the content*/
#content{ 
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 6%;
  text-align: center;
  background-image: url('Images/gradient.jpg'); background-size: 100%; background-position-y: 40%; background-blend-mode:luminosity;
  background-color:rgba(220, 220, 220, 0.694);
  padding:1.5%;
  padding-top: 2;
  padding-bottom: 0;
  border-radius: 20px;
  object-position: 50%;
  overflow: hidden;  

  font-family: 'Quattrocento Sans', sans-serif;
}

/* Bluring container image */
.img-thumbnail{
  background-color: whitesmoke;
  padding: 0%;
  border-radius:20px;
}

/* Setting font size, stle and variant for p */
p{
  font-size: 150%;
  font-family: 'Afacad', sans-serif;  
}

/* Setting font size and style for nav bar icon*/
.navbar-brand{
  font-size: 250%;
  font-family: 'Ephesis', cursive;
}

/* Setting font size and stype for nav bar headers*/
.navbar-nav{
  font-size: 150%;
  font-family: 'Abel', sans-serif;
}

/* Setting border for navbar */
.nav1{
  background-color: beige;
  padding-top: 1%;
  padding-bottom: 1%; 
}   

/* Marging for each nav header */
.nav-item{
  color: #9a9c9d;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

/* Setting font size and stype for gallery image caption */
figcaption{
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 150%;
}

/* Marging for gallery images */
.item1{
  padding-left: 100px;
} 

/* Positioning credits page text */
.creds{
  transform: translateY(100px);
}

/* Setting zoom on hover */
#zoom {
  transition: transform .5s;
}

#zoom:hover {
  transform: scale(1.1);
} 

#container{
  position: relative;
}

/*Responsive webpage*/
@media screen and (max-width: 1400px){
  #content{
    size: 50%;
  }
}

@media screen and (max-width: 992px){
  #wrapper{
    width: 60%;
  }
  #nav1{
    width: 30%;
    background-color:white;
  }
  .creds{
    width:30%;
  }
}

@media screen and (max-width: 768px){
  #content{
   width: 100%;
  }
  #nav1{
   width:100%;
  }
  #wrapper{
   width:100%;
  }
}

@media screen and (max-width: 576px){
  #content{
    width:100%;
  }
  #nav1{
    width:100%;
  }
  #wrapper{
    width:100%
  }
} 

@media screen and (max-width: 360px){
  #content{
    width:20%;
  }
  #nav1{
    width:30%;
  }
  #wrapper{
    width:30%
  }
}