@media (max-width:600px){
  #white{
    background: rgba(135, 135, 135, 0.951) /*displays a darker background on phone displays, making it easier for users to read text*/
     }

  }
@media (max-width: 1100px) {
    .sidenav {
    display: none; /* when screen is 1100px and under, the side nav disapears*/
    }
    span{
      color:#6c757d;
    }
    .myimg{
      display: none; /*Icon disapears*/
    }
    }
  .nav-item{
  margin-left: 40px; /*pushes nav text to center*/
  
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;/*styles text in sidenav*/
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display:block;
    transition: 0.3s; /*transition when clicking icon to sidenav*/
    
  }
  .myimg{
    position: absolute; /*controls position of icon and padding around it*/
    padding: 4px;
    
  }
  body{
      background-image: url("https://www.publicdomainpictures.net/pictures/130000/velka/grey-gradient-background-1439642315lMp.jpg");
  }
  #white{
    color: white; /*colors main text*/
    margin-top:0px;
   padding: 43px;
  }
 /* #navbarbtn{
    background-color:lightgrey;
    color:Black;
    border-radius: 15px;
    margin-left: 15px;
}*/
  /*ul{
    width:100%;
    position: flex;
    padding: 0;
    float: right;
     left: 100%;
  
  
  }*/
  .navbar-nav a{
      color:white; /*horizontal navbar link color*/
     
  }
      @media(max-width: 578px){ /*controls size of text in the container when size is 578px and under*/
        div.container{
        font-size:30px;
        }
     }
     .fw-bolder{
      margin-top:0px;
     }
     .wrapper {
      display: block;
  }
  
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:grey; /* Black*/
    overflow-x:hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
   
  
  }
  .textside2{
      color:red !important;/*Makes this css take importance*/
      transition: 2s;
      }
  
  .sidenav{
    height: 500px;
    border-radius: 15px; /*controls height and rounds corners*/
  }
  .textside{
    color:gainsboro !important; /*used to take highest importance of color that controls that text no matter where in the css code*/
    }
    .textside2{
      color:red !important;
      transition: 2s;
      }
  div.opac:hover{
    background: rgba(108, 109, 107, 0.829); /* adds background to text*/
    border-radius:20px;
    transition: ease-in 2s;
    transition: ease-out 2s;
  
  }
  .fw-bolder:hover{
  color: lightblue; /*adds color to heading*/
  transition: 1.2s;
  }
  .popdiv:hover{
    background: rgba(40, 40, 40, 0.32); /*adds a background to text with transistion*/
    border-radius: 20px;
    transition:ease-in-out 2s;
    padding:5px;
  }
  #subhead:hover{
    padding: 10px; /**/
    transition:2s;
  }
  #nav-head{
    text-decoration: underline; /*styles*/ 
    font-weight: 700;
   }